### 표현식 Expression

In [18]:
2019

2019

In [19]:
1 + 2

3

In [20]:
3 * 4

12

In [21]:
1 + 2 * 3

7

In [22]:
1 + (2 * 3)

7

In [23]:
(1 + 2) * 3

9

### 명령문 Statement / 함수 Function

In [26]:
print('Hi')  
# print라는 함수를 실행한 것으로 따옴표 없이 Hi만 출력됨
# print 없이 'Hi'만 쳐서 'Hi'를 출력한 것과는 다르다.

Hi

In [24]:
'Hello, world'

'Hello, world'

In [27]:
"Hello, world"

'Hello, world'

In [36]:
""Hello, world""

SyntaxError: invalid syntax (<ipython-input-36-3735deded1c0>, line 1)

In [37]:
"\"Hello, world\""    
# 안쪽의 " "를 문자열을 감싸는 용도가 아니라 " "로 출력하고 싶다면 앞에 \를 붙여줘야 한다.

'"Hello, world"'

In [38]:
print("\"Hello, world\"")

"Hello, world"

In [45]:
print('\\')

\

In [46]:
print('\\( -ㅅ-)/')

\( -ㅅ-)/

### 할당 Assignment / 변수 Variable

In [47]:
x = 12
x
print(x)

12

In [48]:
y = 2 * x + 3
y
print(y)

27

In [49]:
z = 'Hello, world'
z
print(z)

Hello, world

### 연산자 Operator

In [51]:
x + 1

13

In [52]:
z + 1
# z는 str, 1은 int라서 더하기 연산 불가능

TypeError: can only concatenate str (not "int") to str

In [53]:
z + '!'

'Hello, world!'

In [54]:
x * 2

24

In [56]:
z * 2
# z(str)가 두 번 출력된다.

'Hello, worldHello, world'

In [57]:
(z + (' ')) * 2

'Hello, world Hello, world '

In [58]:
x / 2
# 나누기: x/2 -> 결과값 float로 나옴

6.0

In [59]:
x // 2
# 나누기: x//2 -> 결과값 integer로 나옴

6

In [60]:
x % 2

0

In [61]:
1 = 1

SyntaxError: can't assign to literal (<ipython-input-61-ecdac3dcabfd>, line 1)

In [63]:
1 == 1

True

In [64]:
1 == 2

False

In [65]:
1 != 2

True

In [66]:
1 < 2

True

In [67]:
1 > 2

False

In [68]:
1 <= 2

True

In [69]:
1 >= 2

False

In [70]:
1 < 2 < 3

True

In [74]:
1 < 2 and 1 > 2

False

In [75]:
1 < 2 or 1 > 2

True

In [79]:
(1 < 2) and (1 > 2)

False

In [80]:
1 < (2 and 1) < 2

False

In [81]:
(1 < 2) or (1 > 2)

True

In [82]:
1 < (2 or 1) < 2

False

In [83]:
1 < (2 or 6) < 3

True

### 타입 Type
- Integer (정수)
- Float (부동소수점)
- Literal : 숫자는 숫자 그대로 쓴 것, 문자는 ' ' 안에 쓴 것

### 에러 Error
- 에러 메시지를 잘 봐 둘 것

In [85]:
60 * 60 * 24 * 365

31536000

In [86]:
seconds_per_minute = 60
minutes_per_hour = 60
hours_per_day = 24
days_per_year = 365

seconds_per_minute * minutes_per_hour * hours_per_day * days_per_year

31536000

## 간단한 성적 관리 프로그램 만들기

In [87]:
# 변수

name = 'Anne'
score = 100

print(name, score)

Anne 100

In [88]:
# 여러 변수

score1 = 80
score2 = 90
score3 = 70

print(name, score1, score2, score3)

Anne 80 90 70

In [89]:
# 리스트

scores = [80, 90, 70]

print(name, scores[0], scores[1], scores[2])
# 0부터 세는 것은 벡터에서 나온 개념

Anne 80 90 70

In [91]:
# 모두 더하기

total_score = scores[0] + scores[1] + scores[2]

print(total_score)

240

In [92]:
# 다시 할당 (초기화)

total_score=0

print(total_score)

0

In [93]:
# 우아하게 모두 더하기 (새로운 함수: sum)

total_score = sum(scores)

print(total_score)

240

In [95]:
# 리스트에 있는 점수 개수 구하기 (length)

subjects_count = len(scores)

print(subjects_count)

3

In [96]:
# 평균 점수 구하기

average_score = sum(scores) / len(scores)

print(average_score)

80.0

In [98]:
# 최소, 최대 점수 구하기 (min, max)

min_score = min(scores)
max_score = max(scores)

print(min_score, max_score)

70 90

In [99]:
# 리스트의 일부 얻기 (슬라이스)

scores = [10, 20, 30, 40, 50, 60]

some_scores = scores[2:4]
                                # 2번째부터 3번째까지
print(some_scores)

[30, 40]

In [101]:
some_scores = scores[:4]  # 4는 원소의 개수가 된다. 
                                         # 앞에서부터 n개 얻을 때 많이 사용 

print(some_scores)

[10, 20, 30, 40]

In [102]:
some_scores = scores[2:]

print(some_scores)

[30, 40, 50, 60]

In [103]:
some_scores = scores[:]

print(some_scores)

# some_scores = scores  -> 'scores와 같다'는 뜻
# some_scores = scores[:]  -> 'scores의 전체 값과 같다'는 뜻

[10, 20, 30, 40, 50, 60]

In [105]:
some_scores = scores[::-1]  # step: -1 -> 거꾸로(역순)

print(some_scores)

[60, 50, 40, 30, 20, 10]

In [106]:
some_scores = scores[2:4:-1]  
                        # 역순인데, 2번째부터 3번째를 가져 오라는 명령이라서 범위를 벗어남

print(some_scores)

[]

In [107]:
some_scores = scores[4:2:-1]

print(some_scores)

[50, 40]

In [108]:
some_scores = scores[::-2]
print(some_scores)

[60, 40, 20]

In [109]:
some_scores = scores[::2]
print(some_scores)

[10, 30, 50]

In [110]:
some_scores = scores[:-1] 
print(some_scores)

[10, 20, 30, 40, 50]

In [111]:
some_scores = scores[-1:] 
print(some_scores)

[60]