# TOC
* 데이터 읽어오기
* 데이터 미리보기
* SELECT
* WHERE
* ORDER BY
* 간단한 분석 해보기

In [1]:
import pandas as pd

# 데이터 읽어오기

In [2]:
url = ('https://raw.github.com/pandas-dev/pandas/master/pandas/tests/data/tips.csv')
tips = pd.read_csv(url)

In [3]:
url2 = ('https://raw.githubusercontent.com/dataitgirls3/Data/master/Orders.csv')
orders = pd.read_csv(url2)

# 데이터 미리보기

In [4]:
tips.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [5]:
# 컬럼별 의미 생각해보기. 도대체 'size'는 뭘까?
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [6]:
len(tips.columns)

7

In [7]:
tips.describe()
# 중앙값이 평균보다 강건한 통계량 (아웃라이어가 있어도 크게 영향받지 않으므로)

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

# SELECT

In [9]:
tips[['total_bill', 'tip']].head(5)

   total_bill   tip
0       16.99  1.01
1       10.34  1.66
2       21.01  3.50
3       23.68  3.31
4       24.59  3.61

In [10]:
(tips['tip']+1).head()

0    2.01
1    2.66
2    4.50
3    4.31
4    4.61
Name: tip, dtype: float64

In [11]:
tips['tip'].apply(lambda x: x+1).head()

0    2.01
1    2.66
2    4.50
3    4.31
4    4.61
Name: tip, dtype: float64

In [12]:
col = ['total_bill','tip']
tips[col].head(5)

   total_bill   tip
0       16.99  1.01
1       10.34  1.66
2       21.01  3.50
3       23.68  3.31
4       24.59  3.61

In [13]:
# 팁, 도대체 얼마나 주는걸까 갑자기 궁금해졌다.
tips['tip_percentage'] = tips['tip'] * 100.0 / tips['total_bill']
tips.head(10)

   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2        5.944673
1       10.34  1.66    Male     No  Sun  Dinner     3       16.054159
2       21.01  3.50    Male     No  Sun  Dinner     3       16.658734
3       23.68  3.31    Male     No  Sun  Dinner     2       13.978041
4       24.59  3.61  Female     No  Sun  Dinner     4       14.680765
5       25.29  4.71    Male     No  Sun  Dinner     4       18.623962
6        8.77  2.00    Male     No  Sun  Dinner     2       22.805017
7       26.88  3.12    Male     No  Sun  Dinner     4       11.607143
8       15.04  1.96    Male     No  Sun  Dinner     2       13.031915
9       14.78  3.23    Male     No  Sun  Dinner     2       21.853857

In [14]:
tips.describe()

       total_bill         tip        size  tip_percentage
count  244.000000  244.000000  244.000000      244.000000
mean    19.785943    2.998279    2.569672       16.080258
std      8.902412    1.383638    0.951100        6.107220
min      3.070000    1.000000    1.000000        3.563814
25%     13.347500    2.000000    2.000000       12.912736
50%     17.795000    2.900000    2.000000       15.476977
75%     24.127500    3.562500    3.000000       19.147549
max     50.810000   10.000000    6.000000       71.034483

In [15]:
# 약 16% 정도 주네요.
tips['tip_percentage'].mean()

16.080258172250463

In [16]:
tips['tip_percentage'].median()  # 중간값

15.476977125802577

In [17]:
tips['tip_percentage'].quantile(0.5)  # 중간값

15.476977125802577

In [18]:
tips['tip_percentage'].quantile(0.99)

31.122330799855206

# WHERE

In [20]:
# Yes 아니면 No네요. 절반반 흡연자는 없는가 봅니다.
tips['smoker'].unique()  # unique = (sql) distinct

array(['No', 'Yes'], dtype=object)

In [21]:
(tips['smoker'] == 'Yes').head()  # T,F

0    False
1    False
2    False
3    False
4    False
Name: smoker, dtype: bool

In [29]:
# 흡연자만 보겠습니다. 너무 많으니까 위에 세개 결과만 보겠습니다.

'''sql
SELECT *
FROM tips
WHERE tips.smoker = 'Yes'
'''

tips[tips['smoker'] == 'Yes'].head(3)  # tips[]로 한 번 더 감싸면 True인 행만 보여줌

    total_bill   tip   sex smoker  day    time  size  tip_percentage
56       38.01  3.00  Male    Yes  Sat  Dinner     4        7.892660
58       11.24  1.76  Male    Yes  Sat  Dinner     2       15.658363
60       20.29  3.21  Male    Yes  Sat  Dinner     2       15.820601

In [28]:
tips[-(tips['smoker']=='Yes')].head(3)  # - 또는 ~를 앞에 붙이면 반대의 경우(False)를 보여줌

   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2        5.944673
1       10.34  1.66    Male     No  Sun  Dinner     3       16.054159
2       21.01  3.50    Male     No  Sun  Dinner     3       16.658734

In [30]:
tips[~(tips['smoker']=='Yes')].head(3)

   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2        5.944673
1       10.34  1.66    Male     No  Sun  Dinner     3       16.054159
2       21.01  3.50    Male     No  Sun  Dinner     3       16.658734

In [31]:
# 여성 흡연자를 볼까요? SQL로는 이렇게 작성 할 수 있을겁니다.

'''sql
SELECT *
FROM tips
WHERE tips.smoker = 'Yes'
AND tips.sex = 'Female'
'''

# Pandas로도 여러 조건을 중첩하여 필터링을 할 수 있습니다.
tips[(tips['smoker'] == 'Yes') & (tips['sex'] == 'Female')].head(5)  # smoker=yes와 sex=female이 둘 다 true인 행

    total_bill   tip     sex smoker  day    time  size  tip_percentage
67        3.07  1.00  Female    Yes  Sat  Dinner     1       32.573290
72       26.86  3.14  Female    Yes  Sat  Dinner     2       11.690246
73       25.28  5.00  Female    Yes  Sat  Dinner     2       19.778481
92        5.75  1.00  Female    Yes  Fri  Dinner     2       17.391304
93       16.32  4.30  Female    Yes  Fri  Dinner     2       26.348039

In [32]:
tips[(tips['smoker'] == 'Yes') & (tips['sex'] == 'Female')]['size'].head(5)

67    1
72    2
73    2
92    2
93    2
Name: size, dtype: int64

In [33]:
tips[(tips['smoker'] == 'Yes') | (tips['sex'] == 'Female')].head(5)  # or

    total_bill   tip     sex smoker  day    time  size  tip_percentage
0        16.99  1.01  Female     No  Sun  Dinner     2        5.944673
4        24.59  3.61  Female     No  Sun  Dinner     4       14.680765
11       35.26  5.00  Female     No  Sun  Dinner     4       14.180374
14       14.83  3.02  Female     No  Sun  Dinner     2       20.364127
16       10.33  1.67  Female     No  Sun  Dinner     3       16.166505

In [34]:
# 원리는 이렇습니다. AND 연산은 &로, OR 연산은 |(vertical bar)로 할 수 있습니다.
print('True & True = ' + str(bool(True & True)))
print('True & False = ' + str(bool(True & False)))
print('True & True = ' + str(bool(False & False)))

True & True = True
True & False = False
True & True = False

### Q1. 팁을 안주고 간 사람도 데이터에 들어있나요?

In [36]:
tips[tips['tip']==0]

Empty DataFrame
Columns: [total_bill, tip, sex, smoker, day, time, size, tip_percentage]
Index: []

### Q2. 컬럼 time에는 어떤 값들이 들어있나요?

In [37]:
tips['time'].unique()  # 인자가 없는 함수는 ( )만 쓴다

array(['Dinner', 'Lunch'], dtype=object)

# GROUP BY

### Q3. 요일별로 팁을 주고 간 손님 수를 계산하는 SQL을 적어보세요.

In [38]:
tips.head(3)

   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2        5.944673
1       10.34  1.66    Male     No  Sun  Dinner     3       16.054159
2       21.01  3.50    Male     No  Sun  Dinner     3       16.658734

In [40]:
'''sql  
SELECT day, COUNT(*)  -- 어떤 컬럼을 써도 상관없으니 *를 쓴다.
FROM tips
GROUP BY day
'''

# SQL 사용하는 이유: 판다스로는 빅데이터를 불러오는게 어렵다. 일단 SQL로 1차정제한 후 판다스 사용.

'sql  \nSELECT day, COUNT(*). <- 어떤 컬럼을 써도 상관없으니 *를 쓴다.\nFROM tips\nGROUP BY day\n'

In [41]:
# Pandas로는 이렇게 쓸 수 있습니다.
tips.groupby('day').size()  # size : count 기능

day
Fri     19
Sat     87
Sun     76
Thur    62
dtype: int64

### Q4. 데이터에는 여자 손님이 몇 명, 남자 손님이 몇 명인가요? SQL로 적어보세요.

In [42]:
'''sql
SELECT sex, COUNT(*)
FROM tips
GROUP BY sex
'''

'sql\nSELECT sex, COUNT(*)\nFROM tips\nGROUP BY sex\n'

In [43]:
# Pandas로는 이렇게 쓸 수 있습니다.
tips.groupby('sex').size()

sex
Female     87
Male      157
dtype: int64

### Q5. 여자 손님과 남자 손님 중 누가 팁을 전체 계산액에 비해 많이 줄까요? SQL로 적어주세요.

In [44]:
'''sql
SELECT sex, AVG(tip_percentage)
FROM tips
GROUP BY sex
'''

'sql\nSELECT sex, AVG(tip_percentage)\nFROM tips\nGROUP BY sex\n'

In [45]:
# Pandas로는 이렇게 쓸 수 있습니다.
tips.groupby('sex')['tip_percentage'].mean()

sex
Female    16.649074
Male      15.765055
Name: tip_percentage, dtype: float64

해석: 여자 손님은 평균적으로 계산액의 16.64%의 팁을 남기고, 남자 손님은 15.76%를 남깁니다.

### Q6. 팁은 흡연자가 많이 줄까요? 비흡연자가 많이 줄까요?

In [46]:
tips.head()

   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2        5.944673
1       10.34  1.66    Male     No  Sun  Dinner     3       16.054159
2       21.01  3.50    Male     No  Sun  Dinner     3       16.658734
3       23.68  3.31    Male     No  Sun  Dinner     2       13.978041
4       24.59  3.61  Female     No  Sun  Dinner     4       14.680765

In [47]:
tips.groupby('smoker')['tip'].mean()

smoker
No     2.991854
Yes    3.008710
Name: tip, dtype: float64

In [48]:
tips.groupby('smoker')['tip_percentage'].mean()

smoker
No     15.932846
Yes    16.319604
Name: tip_percentage, dtype: float64

In [49]:
tips.groupby('smoker')[['tip','tip_percentage']].mean()

             tip  tip_percentage
smoker
No      2.991854       15.932846
Yes     3.008710       16.319604

### 팁은 보통 여성이, 그리고 흡연자가 많이 주는 것 처럼 보입니다. 그럼 두 가지 요인을 같이 살펴볼까요?

In [50]:
# 이렇게 두 컬럼을 기준으로 GROUP BY 연산을 할 수도 있습니다.
tips.groupby(['sex', 'smoker'])['tip_percentage'].mean()

sex     smoker
Female  No        15.692097
        Yes       18.215035
Male    No        16.066872
        Yes       15.277118
Name: tip_percentage, dtype: float64

해석: 팁을 계산액에 비해 평균적으로 가장 많이 남기는 그룹은 팁을 18.21%나 남기는 여성 흡연자 그룹이네요. 팁을 가장 짜게 준 그룹은 남성 흡연자 그룹입니다. 흡연을 할수록 팁을 많이 남기는게 아니라, 흡연을 하는 여성일수록 팁을 많이 남긴다는 결론을 낼 수 있겠네요. 팁을 후하게 주는 그룹은 (흡연여성) > (비흡연남성) > (비흡연여성) > (흡연남성) 순입니다.